#head{
	text-align:center;
	font:30px bold;
	font-family:cursive;
}

#login{
	background-image: linear-gradient(bottom, rgb(250,241,240) 10%, rgb(250,238,237) 55%, rgb(255,246,245) 78%);
	background-image: -o-linear-gradient(bottom, rgb(250,241,240) 10%, rgb(250,238,237) 55%, rgb(255,246,245) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(250,241,240) 10%, rgb(250,238,237) 55%, rgb(255,246,245) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(250,241,240) 10%, rgb(250,238,237) 55%, rgb(255,246,245) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(250,241,240) 10%, rgb(250,238,237) 55%, rgb(255,246,245) 78%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(250,241,240)),
		color-stop(0.55, rgb(250,238,237)),
		color-stop(0.78, rgb(255,246,245))
	);
	margin:170px auto 50px auto;
}

#loginMessage{
	font:17px bold;
	font-family:cursive;
	margin:0px auto;
}

#logOut{
text-align:right;
margin:-17px 0px 0px 0px;
font-family:cursive;
}

#login form table tbody tr td{
	width:160px;
}

.shadow{
	-webkit-box-shadow: 1px 2px 20px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    1px 2px 20px rgba(50, 50, 50, 0.75);
	box-shadow:         1px 2px 20px rgba(50, 50, 50, 0.75);
	padding:28px 18px 18px 18px;
	width:240px;
}

.roundBorder{
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}


.button {
	
	-moz-box-shadow:inset 0px 1px 0px 0px #fff8f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff8f7;
	box-shadow:inset 0px 1px 0px 0px #fff8f7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffcdb2), color-stop(1, #ffd4bd) );
	background:-moz-linear-gradient( center top, #ffcdb2 5%, #ffd4bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcdb2', endColorstr='#ffd4bd');
	background-color:#ffcdb2;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #fefefe;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	line-height:50px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffd4bd), color-stop(1, #ffcdb2) );
	background:-moz-linear-gradient( center top, #ffd4bd 5%, #ffcdb2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4bd', endColorstr='#ffcdb2');
	background-color:#ffd4bd;
}.button:active {
	position:relative;
	top:1px;
}

.buttonDropDown{
	padding:4px;
	height:200px;
	-moz-box-shadow:inset 0px 1px 0px 0px #fff8f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff8f7;
	box-shadow:inset 0px 1px 0px 0px #fff8f7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffcdb2), color-stop(1, #ffd4bd) );
	background:-moz-linear-gradient( center top, #ffcdb2 5%, #ffd4bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcdb2', endColorstr='#ffd4bd');
	background-color:#ffcdb2;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #fefefe;
	color:black;
	font-family:arial;
	font-size:14px;
	font-style:normal;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

#container{

	padding:6px;
	width:1280px;
	margin:0 auto;
	min-height:768px;
	
	background-image: linear-gradient(bottom, rgb(255,231,229) 10%, rgb(255,236,235) 55%, rgb(247,235,234) 78%);
	background-image: -o-linear-gradient(bottom, rgb(255,231,229) 10%, rgb(255,236,235) 55%, rgb(247,235,234) 78%);
	background-image: -moz-linear-gradient(bottom, rgb(255,231,229) 10%, rgb(255,236,235) 55%, rgb(247,235,234) 78%);
	background-image: -webkit-linear-gradient(bottom, rgb(255,231,229) 10%, rgb(255,236,235) 55%, rgb(247,235,234) 78%);
	background-image: -ms-linear-gradient(bottom, rgb(255,231,229) 10%, rgb(255,236,235) 55%, rgb(247,235,234) 78%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(255,231,229)),
		color-stop(0.55, rgb(255,236,235)),
		color-stop(0.78, rgb(247,235,234))
	);
}

#container #head2{
	font:20px bold;
	font-family:cursive;
	margin:3px;
}

#container #leftPanel{
	background-color:white;
	border:1px solid #d6d9db;
	float:left;
	margin:3px;
	width:19%;
	min-height:722px;
}

#container #rightPanel{
	background-color:white;
	border:1px solid #d6d9db;
	float:right;
	margin:3px;
	width:79%;
	min-height:722px;
}
